body{
    font-size: 16px;
    font-family: UTMAVO;
}
@font-face {
    font-family: UTMAVO;
    src: url('../css/fonts/UTMAVO.TTF');            
}
@font-face {
    font-family: UTMAVOBOLD;
    src: url('../css/fonts/UTMAVOBOLD.TTF');
}
@font-face {
    font-family: UTMAVOBOLD_ITALIC;
    src: url('../css/fonts/UTMAVOBOLD_ITALIC.TTF');
}
@font-face {
    font-family: UTMAVOITALIC;
    src: url('../css/fonts/UTMAVOITALIC.TTF');
}
@font-face {
    font-family: ICIELRUKOLA;
    src: url('../css/fonts/ICIELRUKOLA.OTF');
}

/* ------------- */
/* Header */
/* ------------- */
#header{
    height: 64px;
    background-color: #db246f;
    color: #cbd5de;
    position: relative;
    z-index: 1;
}
#header .title-header{
    font-size: 1.25em;
    line-height: 3;
    word-spacing: 2px;
}
/* ------------- */
/* Những cái chung */
/* ------------- */
.buynow{
    padding: 0px 30px 8px;
    background: #db246f;
    border-radius: 10px;
    margin-left: 1.25em;
    transition: transform 0.25s ease-in;
}
.buynow a{
    text-decoration: unset;
    color: #FFF;
    font-family: UTMAVO;
}

.buynow:hover {
    animation: transform 0.4s linear infinite;
    animation-direction: alternate;
}

/* ------------- */
/* Banner */
/* ------------- */
#banner{
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
}

#banner .img-banner{
    height: 100%;
}


#banner .banner-top{
    text-align: center;
}
#banner .banner-top h1{
    
    background: #b68950;
    background-image: linear-gradient(to right, rgb(255, 101, 0, 0.5) 0%, rgb(253, 255, 0, 0.5) 50%, rgb(255, 101, 0, 0.5) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF; */
    font-family: UTMAVOBOLD;
    font-size: 4.2em;
    text-transform: uppercase;
    margin-bottom: 0;
}
#banner .banner-top .banner-top-mota{
    color: #b68950;
    font-family: ICIELRUKOLA;
    font-size: 4em;
    margin-bottom: 0;
}
#banner .banner-top .banner-top-date{
    color: #593082;
    font-size: 2.5em;
    word-spacing: 10px;
    font-family: UTMAVO;
    margin-bottom: 0.75em;
}
#banner .banner-top .banner-top-date span{
    border: 1px solid #ffffff;
    border-radius: 10px;
    background: #2e3192;
    color: #ffffff;
    font-size: 1.25em;
    padding: 0px 18px 7px;
    font-family: UTMAVOBOLD;
}
#banner .banner-top img{
    width: 30%;
    height: auto;
    margin-bottom: 0.75em;
}
#banner .banner-bottom .banner-sale{
    border: 1px solid #ffffff;
    border-radius: 10px;
    text-align: center;
    background: #ed1c24;
    color: #FFF;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    padding: 11px 2%;
}
#banner .banner-bottom .banner-sale span{
    color: #fcff00;
    font-size: 1.5em;
    display: block;
}
#banner .banner-bottom .banner-time{
    background-color: #2e3192;
    font-size: 1.5em;
    margin-left: 0;
    text-align: center;
    color: #FFF;
    border-radius: 10px;
    padding: 5px 0;
}
#banner .banner-bottom .buynow{
    background-color: #9267c0;
    font-size: 1.5em;
    margin-left: 0;
    text-align: center;
    padding: 5px 0;
    animation: transform 0.5s linear infinite alternate;
}

/* ------------- */
/* Product */
/* ------------- */
#product{
    color: #653087;
    background: #FFF;    
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    padding: 125px;
    background-size: cover;
}
#product .title-main{
    font-family: ICIELRUKOLA;
    color: #dc246f;
    font-size: 4em;
    margin-bottom: -0.25em;
}
#product .price, #product .title{            
    font-family: UTMAVOBOLD;            
    margin-left: 40px;
}
#product .title{
    font-size: 2em;
}
#product .price{
    font-size: 3em;
}
#product ul{
    margin-top: 0.5em;
}
#product ul li{
    position: relative;
    list-style: none;
    font-size: 1.1em;
    line-height: 2;
    text-align: justify;
}
#product ul li .checked{
    width: 4%;
    margin-left: -1.5em;
}
#product hr{
    border-top: 3px solid #653087;
    width: 30%;
    margin: 0 40px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

/* ------------- */
/* Detail Product */
/* ------------- */
  #de-product{
    padding: 2%;
  }
  #de-product .de-product-box-title{
    width: 85%;
    margin: 0 auto;
    text-align: center;
  }
  #de-product .de-product-box-title .title-main{
    font-family: ICIELRUKOLA;
    color: #dc246f;
    font-size: 4em;
    margin-bottom: 0;
  }
  #de-product .de-product-box-title .title{
    font-size: 1.25em;
    font-family: UTMAVOITALIC;
    margin-bottom: 1.25em;
  }
  #de-product .box-de-product{
    text-align: center;
    margin-bottom: 2em;
  }
  #de-product .box-de-product .de-product-img{
    margin-bottom: 1.5em;
    border-radius: 5px;
  }
  #de-product .box-de-product .de-product-name{
    color: #dc246f;
    font-weight: 800;
    text-transform: uppercase;
  }
  #de-product .box-de-product .de-product-content{
    font-size: 0.85em;
  }
  #de-product .box-de-product .de-product-content .de-product-content-green{
        color: #16c72e;
  }
  #de-product .box-de-product .de-product-content .de-product-content-rose{
        color: #dc246f;
  }

  #de-product .box-de-product .de-product-box-price{
    font-family: UTMAVOBOLD;
  } 
  
  #de-product .box-de-product .de-product-price{
    font-size: 1.25em;      
    color: red;
    text-decoration: line-through;
    margin-bottom: 0;
  }

  #de-product .box-de-product .de-product-discount{
    color: #653087;
    font-size: 1.75em;
  }
  #de-product .box-de-product .de-product-ship{
    position: relative;
    font-size: 1.5em;
    padding: 5px 0 6px;
    font-family: UTMAVOBOLD;
    color: #2e3192;
    text-transform: uppercase;
  }
  #de-product .box-de-product .de-product-ship::before {
    content: '';
    position: absolute;
    border-top: 2px solid;
    top: 0px;
    width: 25%;
    left: 50%;
    transform: translateX(-50%);
  }
  #de-product .box-de-product .de-product-ship::after {
      content: '';
      position: absolute;
      border-top: 2px solid;
      bottom: 0px;
      width: 25%;
      left: 50%;
      transform: translateX(-50%);
  }
  #de-product .box-de-product .buynow{
    padding: 0px 30px 8px;
    background: #db246f;
    border-radius: 10px;
    margin-left: 0;
    transition: transform 0.25s ease-in;
    width: 75%;
    font-size: 1.5em !important;
    margin: 0 auto !important;
  }
/* ------------- */
/* Warning */
/* ------------- */
#warning{
    color: #653087;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    padding: 80px;
    background-size: cover;
}
#warning .title-main{
    font-family: ICIELRUKOLA;
    color: #dc246f;
    font-size: 4em;
}
#warning .price{          
    font-family: UTMAVOBOLD;
    font-size: 3em;
    margin-top: 1rem;
}
#warning ul {
    padding: 0;
}
#warning ul li{
    position: relative;
    list-style: none;
    font-size: 0.95em;
    line-height: 2;    
    text-align: justify;
}
#warning ul li .checked{
    width: 3%;
    margin-right: 0.5em;
    margin-left: 1em;
}
#warning .pic-product{
    width: 100%;
    height: 100%;
}

/* ------------- */
/* Reputation */
/* ------------- */
#reputation{
    background-repeat: no-repeat;
    padding: 90px;
    background-size: cover;
}
#reputation .title-main{
    font-family: ICIELRUKOLA;
    color: #dc246f;
    font-size: 4em;
}
#reputation .title-main br{
    display: none;
}
#reputation .price{            
    font-family: UTMAVOBOLD;
    font-size: 3em;
    margin-top: 1rem;
    color: #653087;
}

/* ------------- */
/* Order */
/* ------------- */
#order{
    background: rgba(246, 165, 194, 0.75);
    background-repeat: no-repeat;   
    padding: 2% 0;        
    background-size: cover;
}
#order .box-shadow-order {
    padding: 1.5%;
    background: rgba(255, 210, 255, 0.65);
}
#order .box-order{
    border: 1px dashed rgba(246, 165, 194, 1);
    border-radius: 10px;
    padding: 8%;
    background-image: radial-gradient( 
        circle at left center, 
        #FFF, 
        rgba(255, 210, 255, 0.75) 90%, 
        rgb(255, 210, 255, 0.75) 100% );
        box-shadow: 2px 2px 10px 0 #1b1a1a66;
}
#order .title-main{
    font-family: ICIELRUKOLA;
    color: #dc246f;
    text-shadow: 2px 1px 5px white;
    font-size: 5em;
    margin-bottom: 0;
    
}       
#order .title{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5em;
}
#order .title span{
    text-transform: none;
} 

#order .box-order input, 
#order .box-order select, 
#order .box-order textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
}
#order .Iwant{
    color: #FFF;
    font-family: UTMAVO;
    border-width: 0;
    font-size: 1.25rem;
    width: 100%;
    border-radius: 50px;
    font-weight: 500;
    padding: 10px 0;
    background: linear-gradient(45deg, #db246f,rgb(255, 0, 98), #E94584, #db246f);
    background-size: 600% 100%;
}
#order .Iwant:hover{
    animation: gradient 5s linear infinite;
    animation-direction: alternate;
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}
#order .pay-back{
    text-align: center;
    font-size: 2em;
    font-family: UTMAVOBOLD_ITALIC;
    color: #db246f;
    margin-top: 1rem;
    margin-bottom: 0;
}
#order .price{            
    font-family: UTMAVOBOLD;
    font-size: 3em;
    margin-top: 1rem;
    color: #653087;
    text-align: center;
}
#order .buynow {
    margin-left: 0;
    width: 75%;
    margin: 5px auto 0 !important;
}
/* ------------- */
/* Feedback */
/* ------------- */
#feedback{
    background-repeat: no-repeat;
    padding: 170px;
    background-size: cover;
}
#feedback .title-main{
    font-family: ICIELRUKOLA;
    color: #dc246f;
    font-size: 4em;
    margin-bottom: 1rem;
}
#feedback .pic-feedback{
    width: 100%;
    height: 100%;           
}

/* ------------- */
/* Footer */
/* ------------- */
#footer{
    background-color: #db246f;
    padding: 40px 0;
}
#footer p{
    font-size: 1.25rem;
    margin-bottom: 0.5em;
    color: #cbd5de;
}
#footer p:last-child{
    margin-bottom: 0;
}

@media only screen and (max-width: 500px)
{
    #banner {background-position: 20% !important;}
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #header{
        height: 25px;
    }
    #header .col-2{
        padding-right:0 ;
    }
    #header .col-10{
        font-size: 9px;
    }
    #header .title-header {
        line-height: 2;  
        font-size: 1.2em;    
    }
    #banner{
        background-position: right;
    }
    #banner .img-banner {
        height: 100%;
        margin: 15px 0;
    }
    #banner .banner-top h1{
        font-size: 2.25em;
    }
    #banner .banner-top .banner-top-mota{
        font-size: 2em;
    }
    #banner .banner-top img {
        width: 25%;
        margin-top: 2em;
    }
    #banner .banner-bottom .banner-sale{
        margin-bottom: 1em;
        font-size: 2em;
    }
    #banner .banner-bottom .banner-sale span{
        display: unset;
        font-size: unset;
        font-weight: bold;
    }
    #banner .buynow{
        font-size: 1.5em !important;
    }
    @keyframes transform {
        0% {transform: scale(1)}
        100% {transform: scale(0.9)}
        0% {transform: scale(1)}
    }
    
    #product, #reputation, #feedback, #warning , #order, #footer{
        padding: 2em 0;
    }
    .buynow{
        font-size: 0.5em !important;
        margin: 0 !important;
    }
    .price{
        display: grid;
        margin-left: 0 !important;
        font-size: 4em !important;
        text-align: center;
    }
    .img-main-product, .img-main-warning , .img-main-reputation{
        width: 100%;
    }
    .title-main{
        text-align: center;
    }   
    #order .box-order{
        padding: 5%;
    }
    #order .box-shadow-order{
        margin-top: 2em;
    }
    #order .title-main{
        font-size: 3.25em;
    }
    #order .title{
        font-size: 1em;
    }
    #order .Iwant{
        font-size: 1rem;
        border-radius: 10px;
    }
    #order .pay-back{
        font-size: 1rem;
    }
    #product .title-main {
        margin-top: 0.25em;
        font-size: 3.5em;
    }
    #product .title {
        margin-left: 0.5em;
        font-size: 1em;
    }
    #product ul{
        padding: 0;
    }
    #product ul li{
        margin-bottom: 0.5em;
        font-size: 1.25em;
    }
    #product ul li .checked{
        width: 4%;
        margin-left: 10px;
    }
    #product hr{
        margin: 0 auto;
    }
    #warning .title-main{
        margin-top: 0.25em;
        margin-bottom: 0;
    }
    #warning ul li{
        font-size: 1.25em;
    }
    #warning ul li .checked {
        width: 4%;
        margin-right: 0.5em;
        margin-left:0;
    }
    #warning .price{
        margin-bottom: 2rem;
    }
    #reputation .title-main br{
        display: initial;
    }
    #footer{
        text-align: center;
    }
    #footer img{
        margin-bottom: 2em;
    }
    #footer p{
        font-size: 1.25em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    #header{
        height: 40px;
    }
    #header .col-10{
        text-align: center;
    }
    #header .title-header {
        font-size: 1.25em;
        line-height: 1.75;
        text-align: center;
    }
    #banner{
        background-position: right;
    }
    #banner .img-banner {
        height: 100%;
        margin: 15px 0;
    }
    #banner .banner-top h1{
        font-size: 4em;
    }
    #banner .banner-top .banner-top-mota{
        font-size: 3.5em;
    }
    #banner .banner-top img {
        width: 25%;
        margin-top: 2em;
    }
    @keyframes transform {
        0% {transform: scale(1)}
        100% {transform: scale(0.9)}
        0% {transform: scale(1)}
    }
    #product, #reputation, #feedback, #warning , #order, #footer{
        padding: 4em 0;
    }
    .buynow{
        margin: 0 !important;
    }
    .price{
        display: grid;
        margin-left: 0 !important;
        font-size: 4em !important;
        text-align: center;
    }
    .img-main-product, .img-main-warning , .img-main-reputation{
        width: 100%;
    }
    .title-main{
        font-size: 5em !important;
        text-align: center;
    }   
    #order .box-order{
        padding: 10%;
    }
    #order .box-shadow-order{
        margin-top: 2em;
    }
    #product .title-main{
        margin-bottom: 0;
        font-size: 5em;
    }
    #product .title {
        margin-left: 0.5em;
        font-size: 1.5em;
    }
    #product ul li{
        margin-bottom: 0.5em;
        font-size: 1.1em;
    }
    #product ul li .checked{
        width: 3%;
        margin-left: -1.1em;
    }
    #product hr{
        margin: 0 auto;
    }
    #warning .title-main{
        margin-top: 0.25em;
        margin-bottom: 0;
    }
    #warning ul li{
        font-size: 1.25em;
    }

    #footer{
        text-align: center;
    }
    #footer img{
        margin-bottom: 2em;
    }
    #footer p{
        font-size: 1.25em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    #header{
        height: 55px;
    }
    #header .title-header{
        line-height: 2.5;
    }
    #banner{
        background-position: 45%;
    }
    #banner .img-banner{
        margin: 1em;
    }
    #banner .banner-top img{
        width: 20%;
        margin-top: 2em;
    }
    @keyframes transform {
        0% {transform: scale(1)}
        100% {transform: scale(0.9)}
        0% {transform: scale(1)}
    }
    #product, #reputation, #feedback, #warning , #order, #footer{
        padding: 4em 0;
    }
    #de-product .box-de-product .de-product-content{
        font-size: 1em;
    }
    .buynow{
        margin: 0 !important;
    }
    .price{
        display: grid;
        margin-left: 0 !important;
        font-size: 5em !important;
        text-align: center;
    }
    .img-main-product, .img-main-warning , .img-main-reputation{
        width: 100%;
    }
    .title-main{
        font-size: 7em !important;
        text-align: center;
    }   
    #order .box-order{
        padding: 10%;
    }
    #order .box-shadow-order{
        margin-top: 2em;
    }
    #product .title {
        margin-left: 0.5em;
    }
    #product ul li{
        margin-bottom: 0.5em;
        font-size: 1.25em;
    }
    #product ul li .checked{
        width: 3%;
        margin-left: -1.25em;
    }
    #product hr{
        margin: 0 auto;
    }
    #warning .title-main{
        margin-top: 0.25em;
        margin-bottom: 0;
    }
    #warning ul li{
        font-size: 1.25em;
    }
    
    #footer{
        text-align: center;
    }
    #footer img{
        margin-bottom: 2em;
    }
    #footer p{
        font-size: 1.25em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    #banner .img-banner{
        margin: 1em;
    }
    #banner .banner-top img{
        width: 20%;
        margin-top: 2em;
    }
    @keyframes transform {
        0% {transform: scale(1)}
        100% {transform: scale(1.1)}
        0% {transform: scale(1)}
    }
    #product, #reputation, #feedback, #warning ,#order, #footer{
        padding: 3em 0;
    }

    .title-main{
        font-size: 7em !important;
        text-align: center;
    }   

    #product .img-main-product{
        width: 100%;
    }
    #product ul li {
        font-size: 1.45em;
        line-height: 2.5;
    }

    #product ul li .checked {
        width: 3%;
    }
    #product hr{
        margin: 1rem auto 1.5rem;
    }
    #product .price {
        text-align: center;
        font-size: 4em;
    }
    #warning ul{
        padding-left: 2em;
    }
    #warning ul li{
        font-size: 1.75em;
        margin-bottom: 0.25em;
    }
    #warning ul li .checked{
        margin-left: -1.25em;
    }
    #warning .img-main-warning{
        width: 100%;
        margin-bottom: 2em;
    }
    #warning .price {
        font-size: 3.5em;
        text-align: center;    
    }  
    #reputation .price{
        text-align: center;
        font-size: 3.5em;
    }   
    #reputation .img-main-reputation{
        width: 100%;
    }
    #order .img-main-order{
        width: 100%;
    } 
    #order .Iwant{
        font-size: 1.5em;
    }
    #order .price {
        font-size: 3.5em;
        text-align: center;    
    } 
    #order .box-shadow-order{
        margin-top: 2em;
    }
    #order .box-order{
        padding:6%;
    }
    #order .box-order input, 
    #order .box-order select,
    #order .box-order textarea{
        height: 5rem;
        font-size: 1.5em;
    }
    #order .pay-back{
        margin-top: 2rem;
        font-size: 2.5em;
    }
    #footer{
      text-align: center;
    }
    #footer img{
        margin-bottom: 2em;
    }

    #footer p{
        font-size: 1.5em;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #banner{
        padding: 14em 0;
    }
    #banner .img-banner .row{
        position: relative;
        top: 56%;
        transform: translateY(56%);
    }
    #warning ul li .checked{
        margin-left: 0;
    }
    #product ul{
        padding-left: 1.5em;
    }
    .price {
        font-size: 2.25em !important;
    }
    #product ul li{
        font-size: 1em;
        margin-bottom: 0.25em;
    }
    #product .price{
        display: flex;
    }
    #warning .price{          
        display: flex;  
    }
    #reputation .price{            
        display: flex;
    }
    @keyframes transform {
        0% {transform: scale(1)}
        100% {transform: scale(1.15)}
        0% {transform: scale(1)}
    }
}